[mysqld]
skip-host-cache
skip-name-resolve

#bind-address=0.0.0.0
#max_connect_errors=10
#character-set-server=utf8
#default-storage-engine=INNODB
#default_authentication_plugin=mysql_native_password


[mysql]
